*::after,
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
}
a {
  cursor: pointer;
  &:hover {
    color: #a5b4fc;
    transform: translateY(-5%);
  }
}
